body{
    background-image: url(../MyBlog/Chair.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#img1{
    background-image: url(../MyBlog/_1.jpg);
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#img2{
    background-image: url(../MyBlog/_2.png);
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#img3{
    background-image: url(../MyBlog/_3.png);
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 background-attachment: fixed;
}

#img4{
    background-image: url(../MyBlog/_4.png);
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.front div{
    padding-top:60%;
    padding-left: 0;
    padding-right: 0; 
    padding-bottom: 0;
}
.front{
    list-style-type: none;
    padding: 0;
    height: 100%;
    width: 100%;
}
#image{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}

.FPtext{
    color:white;
    font: normal;
    position: relative;
    top: 200px;
}
