{% extends 'template.html'%}
  {% block head %}
  <link rel="stylesheet" type="text/css" href="css/Main.css">
  {% endblock %}

  {% block body %}
  <!--Start nav bar-->
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" id="nbm"type="button" data-toggle="dropdown">
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="Photoshop.html">Photoshop</a></li>
    <li><a href="#">Bear</a></li>
    <li><a href="#">Info</a></li>
  </ul>
  </div>
  <!--nav bar-->
  <div id="image">
    <ul class="front">
      <div id="img1"><li></div>
      <div id="img2"><li></div>
      <div id="img3"><li></div>
      <div id="img4"><li></div>
    </ul>
  </div>
  <!--End images-->
  

    <!--Text-->
  <div class="container-fluid">
<!--1st-->
    <div class="row" id="empty">
      <div class="col-md-12"></div>
    </div>
<!--2nd-->
    <div class="row" id="beartext">
      <div class="col-md-12">Sewing bear is one of <br>my hobby, all bear <br>have to sew by hands.</div>
    </div>
<!--3rd-->
    <div class="row" id="PStext">
      <div class="col-md-12">
        Photoshop is a powerful 
        <br id="first_break"> software 
        <br id="second_break">to use, all images
        <br id="third_break"> are created 
        <br id="last_break">in it.</div>
    </div>
<!--4th-->
    <div class="row" id="infotext">
      <div class="col-md-12 text-center"><a href="#">Click here for more imformation </a></div>
    </div>
<!--END text-->
  </div>
  {% endblock %}


