{% extends 'template.html'%}
  {% block head %}
  {{super()}}
  <title>Photoshop</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/Photoshop.css')}}">
  {% endblock %}
{% block body %}
  <!--Start nav bar-->
  <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" id="nbm"type="button" data-toggle="dropdown">
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="{{url_for('send_static')}}">Home</a></li>
    <li><a href="{{url_for('contact')}}">Contact</a></li>
  </ul>
  </div>
  <!--End nav bar-->


    <!--Top image-->
    <div id="Page">
        <ul class="front">
            <div id="img1"><li></div>
        </ul>
    </div>

<!--grid system-->
            
    <div class="container-fluid">
        <div class="row" id="row_templ">
            <div class="col-md-6 text-center">
                <div id="img_one"></div>
            </div>
             <div class="col-md-6 text-center">
                <div id="img_two"></div>
            </div>
        </div>
        <div class="row" id="row_templ">
            <div class="col-md-6 text-center">
                <div id="img_three"></div>
            </div>
             <div class="col-md-6 text-center">
                <div id="img_four"></div>
            </div>
        </div>
        <div class="row" id="row_templ">
            <div class="col-md-6 text-center">
                <div id="img_five"></div>
            </div>
             <div class="col-md-6 text-center">
                <div id="img_six"></div>
            </div>
        </div>
        <div class="row" id="row_templ">
            <div class="col-md-6 text-center">
                <div id="img_seven"></div>
            </div>
             <div class="col-md-6 text-center">
                <div id="img_eight"></div>
            </div>
        </div>
        <div class="row" id="row_templ">
            <div class="col-md-12 text-center">
                <div id="img_nine"></div>
            </div>
        </div>
        <div class="row" id="row_templ">
            <div class="col-md-12 text-center">
                <div id="img_ten"></div>
            </div>
        </div>
        <div class="row" id="row_templ">
            <div class="col-md-12 text-center">
                <div id="img_eleven"></div>
            </div>
        </div>
    </div>


        

<!--end grid system-->

<!--panel-->

<!--end panel-->

        <div id="Page">
            <ul class="front">
                <div id="img4"><li></div>
            </ul>
        </div>

                


    
{% endblock %}